@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style-type: none;
}
.navbar {
  height: 60px;
  display: flex;
  background-color: #89ABE3FF;
  color: #FCF6F5FF;
}

.nav-list-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-list-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.nav-list-right > * {
  margin-right: 20px;
}

.nav-list-right:last-child{
  margin-right: 40px;
}

.nav-list-left {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav-list-left:first-child {
  margin-left: 30px;
}

.header {
  height: 200px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4A4E69;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  background-color: #89ABE3FF;
}

.header-component {
  margin-top: 2px;
  margin-bottom: 0px;
  font-weight: 300;
}

.profile-image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 6px 2px lightgrey;
  margin-top: 40px;
}



.education-container{
  height: 100vh;
  width: 100%;

}


.skills-container{
  height: 120vh;
  width: 100%;
  background-color: rgb(174, 194, 226);
  clip-path: polygon(0 0, 100% 6%, 100% 94%, 0 100%);

}



.projects{
  height: 100vh;
  width: 100%;
}

.contact {
  height: 120vh;
  width: 100%;
  background-color: rgb(174, 194, 226);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  margin-top: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  height: 300px;
  width: 500px;
}

.contact-form-title {
  font-weight: 700;
  align-self: center;

}

textarea {
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
}

input {
  height: 80px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin:  10px 0px;
  font-size: 20px;
  padding-left: 12px;
  font-family: 'Open Sans', sans-serif;
}

button {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  align-self: center;
}

button:hover {
 background-color: lightgray;
 cursor: pointer;
}
