@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


:root {
  --primary-color:  #f3e3db;
  --secondary-color: #faf0e6;
}


body {
  font-family: 'Open Sans', sans-serif;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: #2c2c2c;
}

ul {
  list-style-type: none;
}

h2 {
  font-size: 18px;
}


/* Navigation  */


.navbar {
  height: 60px;
  display: flex;
  color: #2c2c2c;
  background-color: var(--primary-color);
}

.nav-list-right {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 22px;
  padding-right: 2vw;

}

.nav-list-right > * {
  margin-right: 20px;
}

.nav-list-right:last-child{
  margin-right: 40px;
}

.nav-list-left {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav-list-left:first-child {
  margin-left: 30px;
}

.nav-link {
  cursor: pointer;
}


/* About Me  */


.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4A4E69;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  margin-top: 30px;
 

}

.header-component {
  margin-top: 6px;
  margin-bottom: 0px;
  font-weight: 300;
}

.profile-image{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 4px 6px 2px lightgrey;
  margin-top: 10px;
}

.about-me-container{
  height: 54vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dotted lightgray;
}

.about-me-list{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 540px;
  align-self: center;
  line-height: 2em;
}

.about-me-list > *{
  margin: 24px;
}

.questions{
  align-self: center;
  display: flex;
  flex-direction: row;
}

#contact-me-link{
  font-weight: 600;
  padding-left: 8px;
}




/* Skills */


.skills{
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*clip-path: polygon(0% 0%, 100% 8%, 100% 92%, 0% 100%);*/
}

#skills-header{
  margin-top: 20px;
  font-size: 24px;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 150px 150px 150px;
  max-width: 800px;
  width: 600px;
  padding: 0px;
  height: 300px;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}






/* Projects */


.projects{
  height: 100vh;
  width: 100%;

}

/* Contact Me */

#contact {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color);
 
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  height: 300px;
  width: 500px;
  
}

.contact-form-title {
  font-weight: 700;
  align-self: center;

}

textarea {
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 10px;
}

input {
  height: 80px;
  border: 1px solid lightgray;
  border-radius: 6px;
  margin:  10px 0px;
  font-size: 20px;
  padding-left: 12px;
  font-family: 'Open Sans', sans-serif;
}

button {
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: white;
  align-self: center;
}

button:hover {
 background-color: lightgray;
 cursor: pointer;
}


.footer{
  height: 150px;
  width: 100%;
}